<div class="ui container fix">

<div style="margin-left: 40%;">
 	<% @users.each do |user| %>
			<% if user != current_user %>
			<h2> <%= link_to "#{user.full_name}", user_path(user), :style => "color: black;"  %>
			</h2>
			<% end %>

	<% end %>
</div>

</div>
