.project-name-show {
	padding-top: 10px;
	font-size: 3em;
	text-align: right;
	color: white;
}

.project-descrip-show {
	font-size: 1vw;
	text-align: right;
	padding-bottom: 35px;
	//font-style: italic;
	color: white;
}

.board-title {
	text-decoration: underline grey;
	padding-bottom: 10px;
}

.top-margin {
	margin-top: 20px;
}

.shift {
	margin-left: 20%;
}

.minor-shift {
	margin-left: 10%;
}
