.project-name-show {
	font-size: 3.5vw;
	text-align: center;
	padding-bottom: 40px;
}

.project-descrip-show {
	font-size: 1vw;
	text-align: right;
	padding-right: 13%;
	font-style: italic;
}

.board-title {
	text-decoration: underline grey;
	padding-bottom: 10px;
}

.top-margin {
	margin-top: 20px;
}

.shift {
	margin-left: 20%;
}

.minor-shift {
	margin-left: 10%;
}
