@import "semantic-ui";
@import "semantic-ui/collections/menu";
@import "masonry";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

//***Body***//

body {
  background: #ccc;
  font-family: 'Source Sans Pro', sans-serif;
}

.board-show-title {
  color: black; font-size: 3em; 
  padding-top: 20px;
}

//***Navigation***//

.floating_box{
  margin-top: 20%;
  width: 100px;
  float: left;
}

.button_link {
  margin-bottom: 20px;
  background-color: black;
  padding: 10px;
  border-radius: 0px 20px 20px 0px;

}
//***Links***//

a {
  color: grey;
}

a.black {
 color: black; 
}

a.black:hover {
  color: grey;
}

a:hover {
  color: grey;
}


//***Main content***//

hr.line {
  border-top: 1px solid #ccc;
  width: 70%; margin-left: 0;
 }

span.title {
  color: #808080;
  font-weight: bold;
}

div.ui.menu {
  font-family: 'Source Sans Pro', sans-serif;
}

//***Forms***//

.form_container {
  background-color: black;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  padding-left: 50px;
  padding-top: 150px;
  margin-left: 20%;
  margin-top: 10%;
}

.field_container {
  width: 300px;
  margin-bottom: 30px;
}

.label_styling {
  font-size: 1.5em;
  color: white;
  text-align: right;
}

.field_styling {
  float: right;
  border: none;
  padding: 4px;
}

input.ui.button {
  margin-left: 80px;
   margin-top: 80px;
}


//***Login Page***//

form#login {
  margin-top: 10%;
}

form#login div {
  margin-left: 40%;
  padding: 10px;
}

//***Images***//

.image_top_padding {
  margin-top: 5%;
}

.ui.grid.fix {
  margin-top: 5%;
}

.ui.container.fix {
  margin-top: 5%;
}
//***Comments***//

.comment-padding {
  padding-top: 20%;
}

//***footer***//

.footer {
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  bottom: 0px;
  background-color: black;
}
