@import "semantic-ui";
@import "semantic-ui/collections/menu";

//***Body***//

body {
  background-color: #ccc;
}

// .container {
//   background-color: #dfdcdc;
// }
//***Navigation***//



//***Main content***//

hr.line {
  border-top: 1px solid #ccc;
  width: 70%; margin-left: 0;
 }

span.title {
  color: white;
  font-weight: bold;
  margin-left: 60%;
}


//***Login Page***//

form#login {
  margin-top: 10%;
}

form#login div {
  margin-left: 40%;
  padding: 10px;
}

//***Images***//




//***Comments***//

.comment-padding {
  padding-top: 20%;
}
